gobconfig@git+https://github.com/Amsterdam/GOB-Config.git@v0.13.0
-e git+https://github.com/Amsterdam/GOB-Core.git@v2.18.0#egg=gobcore
-e git+https://github.com/Amsterdam/flask-audit-log.git@v0.1.0a-rc1#egg=datapunt-flask-audit-log
Flask-Cors==4.0.0
Flask==2.3.3
freezegun~=1.2.2
pytest-env~=1.0.1
requests-mock~=1.11.0
requests-pkcs12~=1.18
