-e git+https://github.com/Amsterdam/GOB-Config.git@v0.8.23#egg=gobconfig
-e git+https://github.com/Amsterdam/GOB-Core.git@v2.7.6#egg=gobcore
-e git+https://github.com/Amsterdam/flask-audit-log.git@v0.1.0a-rc1#egg=datapunt-flask-audit-log
Flask-Cors==3.0.10
Flask~=2.2.3
freezegun~=1.2.2
pytest-env~=0.8.1
requests-mock~=1.10.0
requests-pkcs12~=1.15
